:root {
  --purple: #79025B;
  --pink: #D67AB1;
  --pastelpink: #E7B1D0;
  --white: #FDF7FA;
  --paleblue: #A8DCD9;
  --yellow: #FFBA08;
  --paleyellow: #F5F2B8;
  --blue: #3F88C5;
  --brightpink: #E43F6F;
  --midpurple: #BE3E82;
  --midpink: #F56476;
  --green: #197278;
  --lavender: #C287E8;
  --palepurple: #E6ADEC;
  --palepink: #EFB9CB;
  --blush: #EECFD4;
  --palegreen: #C5DCA0;
  --forestgreen: #1C3A13;
  --tangerine: #EC4E20;
  --rockmelon: #FEC0AA;
  --darkblue: #1b126d;
}

*
 {
  box-sizing: border-box;
 }

/*Font family added using google fonts*/
body {
  background-color: var(--paleblue);
  background-image: url(../assets/images/jean-beller-RjfVzePmmfM-unsplash.jpg);
  background-size:contain;
  background-repeat: repeat;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  font-family: 'Sanchez', 'Lucida Grande', Verdana, sans-serif;
  margin:0%;
}

/* Centralised header with unique font */
header {
  padding: 30px;
  text-align: center;
  background-color: var(--paleblue);
  color: var(--purple);
  font-size: x-large;
  font-family: 'Zen Tokyo Zoo', Georgia, 'Times New Roman', Times, serif;
  align-content: center;
  /* background-image: url(../assets/images/jean-beller-RjfVzePmmfM-unsplash.jpg);
  background-size:contain;
  background-repeat: repeat;
  align-items: center;
  justify-content: center;
  align-items: stretch; */
}
/* Ensure responsiveness for all devices */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
article {
  background-color: var(--palepurple);
  border-radius: 5px;
  border-width: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 2px 10px 0px;
  color: var(--green);
  font-size: 18px;
  padding: 30px 40px;
  justify-content: center;
  margin: 0 auto;

  
}

h2 {
text-align: center;
}

/* Button used to open the password specification form - fixed position */
.open-button { 
  background-color: var(--blue);
  color: var(--white);
  padding: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  justify-content: center;
  align-items: center;
  height:fit-content;
  width: auto;
  border: 5px solid var(--brightpink);
  background-color: var(--white);
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  height: auto;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
button:hover {
  opacity: 30;
}


.card-header::after {
  content: " ";
  justify-content: center;
  text-align: center;
  width: 100%;
  background: var(--paleblue);
  height: 2px;
}

 button {
  border: none;
  background-color: var(--blue);
  border-radius: 25px;
  color: var(--white);
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  cursor: grab;
} 

footer {
  padding-top: 150px;
  text-align: center;
  background: var(--paleblue);
  color: var(--purple);
}


